@charset "UTF-8";

/* Fontes */
@font-face {
  font-family: "Myriad Regular";
  src: url(../fonts/myriad-pro/MYRIADPRO-REGULAR.woff);
}

@font-face {
  font-family: "Myriad Bold";
  src: url(../fonts/myriad-pro/MYRIADPRO-BOLD.woff);
}

@font-face {
  font-family: "Myriad Light";
  src: url(../fonts/myriad-pro/MyriadPro-Light.woff);
}

@font-face {
  font-family: "Kiye Sans";
  src: url(../fonts/kiye-sans/Kiye-Sans.ttf);
}

@font-face {
  font-family: "Formula1 Bold";
  src: url(../fonts/formula1-display-bold/Formula1-Bold_web_0.ttf);
}

/* Cores do site */
:root {
  --cor-0: #da0039;
  --cor-1: #a62145;
  --cor-2: #732e40;
  --cor-3: #40262d;
  --cor-4: #363434;

  --fonte-padrao: "Kiye Sans", Arial, sans-serif;
  --fonte-formula-1-bold: "Formula1 Bold";
  --fonte-destaque-regular: "Myriad Regular", sans-serif;
  --fonte-destaque-bold: "Myriad Bold", sans-serif;
  --fonte-destaque-light: "Myriad Light", sans-serif;
}

/* Reset e estilos globais */
* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  color: white;
}

body {
  background-color: black;
  font-family: var(--fonte-padrao);
}

main > section {
  background-image: url(../images/background-black.png);
  background-size: 100%;
  width: 100%;
}

/* Menu desktop */
.desktop-menu {
  z-index: 5;
  background-color: transparent;
  position: fixed;
  top: 10px;
  left: 100px;
  right: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  border-radius: 15px;
}

.desktop-menu a {
  background-color: #96181ab4;
  color: white;
  flex: 1;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 50px;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.192);
  font-family: var(--fonte-destaque-bold);
  font-size: 1.3em;
}

.desktop-menu > a:hover {
  background-color: #96181a;
  box-shadow: 5px 5px 5px rgba(0, 0, 0);
}

/* Conteúdo principal */
main {
  flex: 2;
}

main section {
  height: 100vh;
  display: flex;
}

.menu-home {
  width: 100%;
}

.o-projeto {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.o-projeto div img {
  height: auto;
  width: 100%;
}

.logo {
  width: 150px;
  height: auto;
}

/* Imagem Home */
.imagem-1 {
  position: end;
  background-image: url(../images/carro-1.JPG);
  background-size: 110%;
  width: 60%;
}

/* .imagem-1 img, source {
    max-width: 100%;
    height: auto;
    border-radius: 60px;
} */

.areas {
  position: relative;
  z-index: 1;
  overflow-x: scroll;
  height: 100vh;
}

.areas > div {
  position: relative;
  z-index: 1;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-0);
}

.card {
  margin-top: 10vh;
  height: 80vh;
  width: 80vw;
}

.destacado {
  position: relative;
  z-index: 5;
  top: -31vh;
  left: 50%;
  width: 650px;
  height: auto;
  text-align: center;
  font-family: var(--fonte-formula-1-bold);
  font-size: 5em;
  text-shadow: 3px 3px 2px black;
}

.card h1 {
  height: auto;
  text-align: center;
  font-family: var(--fonte-destaque-bold);
  font-size: 5em;
  text-shadow: 3px 3px 2px black;
}

.card-diretor {
  z-index: 0;
  position: relative;
  margin-top: 10vh;
  background-image: url(../images/backgrounds/background-black.png);
  background-size: 100%;
  width: 100%;
  height: 70vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ultimo {
  width: 100%;
  min-width: 100vw;
  margin-left: calc(-100vw + 100%);
}

.diretor {
  display: flex;
  height: 70%;
}

.dados-diretor {
  margin: 5px auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dados-diretor img {
  object-fit: cover;
  max-width: 250px;
  max-height: 250px;
  border-radius: 50px;
}

.box-dados {
  width: 200px;
  height: 75px;
  padding: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.box-dados > h3 {
  color: black;
}

.box-dados > p {
  color: black;
}

.box-dados h3 {
  font-family: var(--fonte-formula-1-bold);
  font-size: 1.1em;
}

.fala-diretor {
  margin: 25px 50px;
  width: 65%;
  text-align: justify;
  display: flex;
  align-items: center;
  background-color: #da003a96;
  border-radius: 60px;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.1);
}

.fala-diretor::before {
  position: relative;
  content: open-quote;
  font-size: 4rem;
  margin: 0 1rem;
  top: -1.5em;
}

.fala-diretor::after {
  content: close-quote;
  position: relative;
  font-size: 4rem;
  margin: 0 1rem;
  top: 1.5em;
}

.fala-diretor,
.card-diretor > p {
  font-family: var(--fonte-destaque-regular);
  font-size: 1em;
  padding: 50px;
}

.a-competicao {
  padding: 80px 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/backgrounds/background-black.png);
  background-size: 90% auto;
}

/* .a-competicao > div {
  height: 100vh;
} */

#imagem {
  min-height: 1800px;
  background-image: url(../images/backgrounds/bg-carro.png);
  background-size: 100%;
}

.membros {
  overflow-x: scroll;
  background-color: var(--cor-0);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.membros > h2 {
  font-family: var(--fonte-formula-1-bold);
  font-size: 5em;
  margin: 0 20px;
}

.row {
  display: flex;
  justify-content: flex-start;
}

.membro {
  min-width: 200px;
  margin: 0 20px;
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.membro:last-child {
  padding-right: 20px;
}

.membro h3 {
  font-family: var(--fonte-formula-1-bold);
  font-size: 1.1em;
}

.membro p {
  font-weight: bold;
  font-size: 1.1em;
}

.membro > img {
  max-width: 200px;
  height: 200px;
  border-radius: 40px;
}